---
layout: page
title: List of Content
permalink: /list/
---
<div class="home">

   <table class="post-list">
      <tr> <th colspan="2" class="trtitle">Projects</th> </tr>
      {% for post in site.posts %}
      {% if post.category == "projects" %}
      <tr>
         <td class="date-small"> {{ post.date | date: "%b %-d, %Y" }} ...  </td>
         <td> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
               {{ post.title }}</a>
         </td>
      </tr>
      {% endif %}
      {% endfor %}

      <tr> <th colspan="2" class="trtitle">Books</th> </tr>
      {% for post in site.posts %}
      {% if post.category == "books" %}
      <tr>
         <td class="date-small"> {{ post.date | date: "%b %-d, %Y" }} ...  </td>
         <td> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
               {{ post.title }}</a>
         </td>
      </tr>
      {% endif %}
      {% endfor %}

      <tr> <th colspan="2" class="trtitle">Sunday DoJo</th> </tr>
      {% for post in site.posts %}
      {% if post.category == "Sunday Dojo" %}
      <tr>
         <td class="date-small"> {{ post.date | date: "%b %-d, %Y" }} ...  </td>
         <td> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
               {{ post.title }}</a>
         </td>
      </tr>
      {% endif %}
      {% endfor %}

      <tr> <th colspan="2" class="trtitle">Blog</th> </tr>
      {% for post in site.posts %}
      {% if post.category == "blog" %}
      <tr>
         <td class="date-small"> {{ post.date | date: "%b %-d, %Y" }} ...  </td>
         <td> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
               {{ post.title }}</a>
         </td>
      </tr>
      {% endif %}
      {% endfor %}
   </table>
</div>
